body {
  background-color: rgb(237, 231, 224);
  margin: 0;
  padding: 0;
}

.nav-section {
  display: flex;
  margin: 0 2% 0 2%;
  padding: 0.5% 1% 1% 1%;
  border-bottom: 3px solid lightgray;
}

.space-logo {
  width: 5%;
}
