@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  margin: 0 2% 0 2%;
  padding: 0.5% 1% 1% 1%;
  border-bottom: 3px solid lightgray;
}

.logHeader {
  display: flex;
}

.space-logo {
  width: 10%;
}

.nav-section h1 {
  font-size: 30px;
  margin-left: 2%;
}

.rockMisPro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.rockMisPro li {
  margin-right: 2rem;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
}

.upbar {
  padding-right: 1rem;
  font-size: 1rem;
}

h3 {
  text-align: center;
}

.rockMisPro li.active {
  padding: 10px;
  background-color: #b38e1f;
  color: white;
  text-decoration: underline;
}

.getNavDesigner {
  display: flex;
  color: red;
  gap: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}

ul li a:active {
  text-decoration: underline;
  color: red;
}
